@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --red:hsl(0, 100%, 66%);
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
}
body {
    display: grid;
    margin: auto;
    padding-left: 100px;
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
    background: url(images/bg-main-desktop.png) no-repeat;  
}
.div-main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    grid-template-areas: 
    'div-images div-thank-you';
    align-items: center;
    margin: auto;
    gap: 150px;
    margin-top: 40px;
}
#div-card-details table input, button {
    height: 35px;
}
#div-card-details table input {
    border-radius: 5px;
}
#exp-date-mm, #exp-date-yy {
    max-width: 45%;
}
#cardholder-name, #card-number, button {
    width: 100%;
}
button {
    background-color: var(--very-dark-violet);
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}
#thank-you {
    width: 375px;
    grid-area: 'div-thank-you';
    padding: 10px;
}
#div-card-details table {
    text-transform: uppercase;
    color: var(--very-dark-violet);
    line-height: 30px;
    margin: auto;
}
#div-thank-you-hidden {
    margin: auto;
    text-align: center;
    line-height: 50px;
    display: none;
}
.div-images {
    grid-area: 'div-images';
    color: white;
    text-transform: uppercase;
    width: 450px;
}
#div-card-back {
    height: 250px;
    background: url(images/bg-card-back.png) no-repeat;
}
#div-card-back-cvc {
    padding: 110px;
    margin-left: 250px;
}
.div-card-front {
    height: 250px;
    background: url(images/bg-card-front.png) no-repeat;
    padding: 30px;
    margin-bottom: 40px;
    transform: translateX(-100px);
}
.div-card-front .card-data {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
}
.div-card-front .card-data #four-zeros {
    letter-spacing: 5px;
}
.error-msg {
    text-transform: none;
    color: hsl(0, 100%, 66%);
    font-size: 12px;
    margin-bottom: 20px;
}
#name-validity {
    display: flex;
    justify-content: space-between;
}
#mm-yy {
    display: flex;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 30px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}



@media (max-width: 600px) {
    body {
        padding: unset;
        width: min(375px, 100%);
        background: url(images/bg-main-mobile.png) no-repeat;
        background-size: contain;
    }
    .div-images {
        transform: scale(70%);
    }
    .div-main {
        grid-template-areas: 
        'div-images' 
        'div-thank-you';
    } 
    .div-card-front {
        transform: translate(-100px, 140px);
        position: absolute;
        width: 100%;
    }
}